body, ul {
  margin: 0;
}
.bg-dark{
    background-color: #333;
}
.text-white{
    color: #fff;
}
.bg-block3{
  background-color: #08e8de
}
.bg-block1{
background-color:  #f08020;
}
.bg-block2{
  background-color: #4682B4;
}
.p-3{
    padding: 2.5rem;
}
.p-0{
    padding: 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 1.5rem;
}
.p-4{
    padding: 3rem;
}
.p-5{
    padding: 3.5rem;
}
.container{
  max-width: 1320px;
  width: 100%;
    /* min-width: auto; */
    margin-left: auto;
    margin-right: auto;
   
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-link {
  padding: 0.5rem 1rem;
  /* color: #707070; */
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

.nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.bg-light {
  background-color: #a7c4a3;
}
.navbar {
  height: 50px;
  display: flex;
}

.collapse {
  height: 100%;
  display: flex;
  align-items: center;
  
}